.fondoList {
    background-color: aliceblue;
    border-radius: 10px;
    width: 500px;
    height: auto;
    padding: 15px;
    margin: 10px auto;
    list-style: none;
    font-family: "Indie Flower", cursive;
    font-weight: 700;
}

.titulo {
    display: flex;
    align-items: center; 
    justify-content: center;
    width: 100%;
    height: 70px;
    margin: 0;
    padding: 5px;
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
}

.titulo h1 {
    margin: 0;
}

.titulo img {
    margin-left: 10px; 
}
